flows.json
[{"id":"30c47216.0ac94e","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"d06b6040.b5c11","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"3f1326ff.b4024a","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3c5df867.d8f8d8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"c74fcd88.3ad5a","type":"ui_tab","z":"","name":"Main","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"1ce15dd0.c949d2","type":"ui_group","name":"Group 1","tab":"c74fcd88.3ad5a","order":1,"disp":true,"width":6},{"id":"7a36dd8d.605994","type":"ui_tab","name":"Tab 2","icon":"dashboard","order":2},{"id":"6b212d80.f3a444","type":"ui_group","name":"Group 1","tab":"7a36dd8d.605994","order":1,"disp":true,"width":6},{"id":"a81eb4e7.b87428","type":"comment","z":"30c47216.0ac94e","name":"Node-Red y Git","info":"","x":100,"y":20,"wires":[]},{"id":"fadfc593.2c3d88","type":"ui_switch","z":"30c47216.0ac94e","name":"Luces","label":"Luces","tooltip":"","group":"6b212d80.f3a444","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":130,"y":280,"wires":[["c15061ab.79d69"]]},{"id":"c15061ab.79d69","type":"mqtt out","z":"30c47216.0ac94e","name":"","topic":"carro/esp1/luces","qos":"","retain":"","broker":"3f1326ff.b4024a","x":400,"y":280,"wires":[]},{"id":"7291d0c7.99bee","type":"ui_button","z":"30c47216.0ac94e","name":"Adelante","group":"6b212d80.f3a444","order":1,"width":0,"height":0,"passthru":false,"label":"GPIO2","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"","x":140,"y":100,"wires":[["59094ae1.26c9a4"]]},{"id":"d64721a0.19591","type":"ui_button","z":"30c47216.0ac94e","name":"Atras","group":"6b212d80.f3a444","order":2,"width":0,"height":0,"passthru":false,"label":"GPIO1","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"","x":130,"y":180,"wires":[["1d921ddf.19f3e2"]]},{"id":"1d921ddf.19f3e2","type":"mqtt out","z":"30c47216.0ac94e","name":"","topic":"carro/esp1/atras","qos":"","retain":"","broker":"3f1326ff.b4024a","x":390,"y":180,"wires":[]},{"id":"59094ae1.26c9a4","type":"mqtt out","z":"30c47216.0ac94e","name":"","topic":"carro/esp1/adelante","qos":"","retain":"","broker":"3f1326ff.b4024a","x":410,"y":100,"wires":[]}]